a {
    text-decoration: none;
    color: white !important;
    font-weight: 700;
}

a:hover {
    color: #d22682 !important;
    text-decoration: none;
}

ul {list-style-type:circle}

hr {
    margin-top: 0px;
    margin-bottom: 5%;
}

#MainMenu {visibility: hidden;}
footer {visibility: hidden}
header {visibility: hidden}

.project-tile {
    height: 200px;
    padding: 10px;
    border: 2px solid #d22682;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #080000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.highlight {
    color: #d22682; /* Or any color you prefer for the text */
    font-weight: bold;
    padding: 0.1em 0.2em;
    border-radius: 0.3em;
}

/* Custom Page Width */
.block-container {
    max-width: 500px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: auto;
}
